<div class="profile-area">
    <div class="profile-info">
        <h1>Профиль</h1>
        <div class="profile">
            <span class="param">Логин</span>
            <span class="value">{{ profileInfo.username }}</span>
            <span class="param">Электронная почта:</span>
            <span class="value">{{ profileInfo.email }}</span>
            <span class="param">Имя</span>
            <span class="value">{{ profileInfo.firstName }}</span>
            <span class="param">Фамилия</span>
            <span class="value">{{ profileInfo.lastName }}</span>
        </div>
    </div>
</div>
