div.bg-diolog {
    border: 2px solid purple;
    background: rgba(0, 0, 0, 0.192);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.area-window {
    background: #F3F4F6;
    border: 1px solid #ffffff75;
    border-radius: 32px;
    padding: 16px;
    text-align: center;
}